[user]
	name = 朝日 聡
	email = jcao@crooz.co.jp
[core]
	excludesfile = /Users/jcao/.gitignore_global
	autocrlf = input
#	autoCRLF = false
#	safecrlf = true
[diff]
  #tool = vimdiff
  #algorithm = histogram
  external = git_diff_wrapper
[pager]
	  diff =
[mergetool "vimdiff3"]
	cmd = git_merge_wrapper3 \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[mergetool]
	keepBackup = false
[merge]
	tool = opendiff
[mergetool "p4merge"]
	path = /Applications/p4merge.app/Contents/MacOS/p4merge
	keepTemporaries = false
	trustExitCode = false
[difftool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --nosplash \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true
